@model BrightLearn.ViewModels.Home.PasswordViewModel

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "password-form" }))
{
    <div class="inputBox fullwidth">
        <label>@Html.LabelFor(model => model.currentPassword) :       <span style="color:red; font-weight: bolder;">@Html.ValidationMessageFor(model => model.currentPassword)</span></label>
        @Html.EditorFor(model => model.currentPassword)
    </div>
    <div class="inputBox fullwidth">
        <label>@Html.LabelFor(model => model.newPassword) :      <span style="color:red; font-weight: bolder;"> @Html.ValidationMessageFor(model => model.newPassword)</span></label>
        @Html.EditorFor(model => model.newPassword)
    </div>
    <div class="inputBox fullwidth">
        <label>@Html.LabelFor(model => model.repeatNewPassword) :       <span style="color:red; font-weight: bolder;">@Html.ValidationMessageFor(model => model.repeatNewPassword)</span></label>
        @Html.EditorFor(model => model.repeatNewPassword)
    </div>

    <div class="inputBox fullwidth" style="grid-column: 1/3; grid-row: 4;">
        <span>@Html.DisplayFor(model => model.ValidationErrorMessage)</span>
    </div>
    <input type="submit" value="Wijzigen"  style="grid-column: 3/4; grid-row: 4;"/>

}