@model BrightLearn.ViewModels.Login.LoginDataModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/Styles/Login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <div class="brand">
                <h1><span class="brandname">Bright</span> Learn</h1>
            </div>
            <div class="logindata">
                <p>
                    <Label>@Html.LabelFor(model => model.UserName)</Label>
                    @Html.EditorFor(model => model.UserName)
                </p>
                <p>
                    <Label class="error">@Html.ValidationMessageFor(model => model.UserName)</Label>
                </p>
                <p>
                    <Label>@Html.LabelFor(model => model.Password)</Label>
                    @Html.EditorFor(model => model.Password)
                </p>
                <p>
                    <Label class="error">@Html.ValidationMessageFor(model => model.Password)</Label>
                </p>
                <p>
                    <a href="../Login/ForgotPassword">Wachtwoord vergeten.</a>
                </p>
                <p>
                    <label class="error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                </p>
                <p>
                    <button type="submit">Login</button>
                </p>
            </div>
        }
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
